.title-button{
    padding: 5px 20px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #fff ;
    cursor: pointer;
}

.title-button:hover{
    /* 要素の不透明度 */
    opacity: .8; 
}
